<div class="container-fluid">
    <div class="row">
        <div class="col-sm align-self-center" style="max-width: 100px; display:table">
            <p class="text-center">{{question.rating}} <br> votes </p>
        </div>
        <div class="col-sm align-self-center" style="max-width: 100px; display:table">
            <p class="text-center">{{question.answers_count}} <br> answers </p>
        </div>
        <div class="col-sm container-fluid">
            <div class="row">
                <h4><a href="{% url 'question' question.id %}">{{question.title}}</a></h4>
            </div>
            <div class="row">
                {% for tag in question.tags.all %}
                <div class="tag-block"> <a href="{% url 'search' %}?search={{'tag:'|urlencode}}{{tag.name|urlencode}}"> {{tag.name}} </a> </div>
                {% endfor %}
                <div class="col-sm">
                </div>
                <div>
                    <span class="text-center">
                    <a href="#" >{{question.author.login}}</a><br>
                    asked {{question.time_ago_str}} ago
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="answer-divider"></div>
</div>