<div class="container-fluid">
    <div class="row">
        <div class="col-sm align-self-center" style="max-width: 100px; display:table">
            <p class="text-center">1000 <br> votes </p>
        </div>
        <div class="col-sm align-self-center" style="max-width: 100px; display:table">
            <p class="text-center">10 <br> answers </p>
        </div>
        <div class="col-sm container-fluid">
            <div class="row">
                <h3>how much is the python</h3>
            </div>
            <div class="row">
                <div class="tag-block">tag 1</div>
                <div class="tag-block">tag 2</div>
                <div class="col-sm">
                </div>
                <div>
                    <span class="text-center">
                    <a href="#" >Semyon</a><br>
                    asked mnogo dney nazad
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="answer-divider"></div>
</div>