{% extends "base.html" %}

{% block title %}Answers{% endblock %}


{% block page_content %}

<div class="container-fluid">

    <div class="row">
        <h2>{{question.title}}</h2>
    </div>
    <div class="row">
        <div class="col-sm px-0" style="max-width: 70px" >
                <div class="container-fluid">
                    <div class="row "> <span
                            {% if question_rated_up%}
                                class="rated-icon oi oi-chevron-top mx-auto"
                                onclick="cancelVoteQuestion({{ question.id }})"
                            {% elif question_rated %}
                                class="non-rated-icon oi oi-chevron-top mx-auto"
                            {% else %}
                                class="rating-icon oi oi-chevron-top mx-auto"
                                onclick="voteQuestion({{question.id}}, true)"
                            {% endif %}
                            aria-hidden="true"></span> </div>
                    <div class="row "> <h2 class="rating-color my-0 mx-auto"> {{question.rating}} </h2> </div>
                    <div class="row  "> <span
                            {% if question_rated_down%}
                                class="rated-icon oi oi-chevron-bottom mx-auto"
                                onclick="cancelVoteQuestion({{ question.id }})"
                            {% elif question_rated %}
                                class="non-rated-icon oi oi-chevron-bottom mx-auto"
                            {% else%}
                                class="rating-icon oi oi-chevron-bottom mx-auto"
                                onclick="voteQuestion({{question.id}}, false)"
                            {% endif%}
                            aria-hidden="true"></span> </div>
                </div>
        </div>

        <div class="col-sm">
            {{question.body}}
        </div>
    </div>
    <div class="row question-bottom">
        {% for tag in question.tags.all %}
            <div class="tag-block"> <a href="{% url 'search' %}?q={{'tag:'|urlencode}}{{tag.name|urlencode}}"> {{tag.name}} </a> </div>
        {% endfor%}

        <div class="col-sm"> </div>
        <div>
            {% if question.author.avatar %}
                <img src="{% url 'avatar' question.author.id %}" width="40px" height="40px" alt="Profile img"/>
            {% else %}
                <img src="/static/img/account.png" width="40px" height="40px" alt="Profile img"/>
            {% endif%}
        </div>
        <div class="align-self-start" style="display: table" > {{question.author.login}}</div>
        <div class="col-sm" style="max-width: 60px"> </div>
    </div>
    <div class="row answer-divider"></div>
</div>

{% for answer in answers %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm px-0" style="max-width: 70px" >
                <div class="container-fluid">
                    <div class="row "> <span
                            {% if answer_rated == answer.id and answer_rated_up %}
                                class="rated-icon oi oi-chevron-top mx-auto"
                                onclick="cancelVoteAnswer({{ answer.id }})"
                            {% elif answer_rated %}
                                class="non-rated-icon oi oi-chevron-top mx-auto"
                            {% else%}
                                class=  "rating-icon oi oi-chevron-top mx-auto"
                                onclick="voteAnswer({{ answer.id }}, true)"
                            {% endif%}
                            ></span> </div>
                    <div class="row "> <h2 class="rating-color my-0 mx-auto"> {{answer.rating}} </h2> </div>
                    <div class="row "> <span
                            {% if answer.id == answer_rated and answer_rated_down %}
                                class="rated-icon oi oi-chevron-bottom mx-auto"
                                onclick="cancelVoteAnswer({{ answer.id }})"
                            {% elif answer_rated %}
                                class="non-rated-icon oi oi-chevron-bottom mx-auto"
                            {% else%}
                                class=  "rating-icon oi oi-chevron-bottom mx-auto" onclick="voteAnswer({{ answer.id }}, false)"
                            {% endif%}
                            ></span> </div>

                    {% if answer.is_correct%}
                    <div class="row">
                        <span
                                class="starred-icon oi oi-star mx-auto"
                                style="margin-top: 10px"
                                onclick="unstarAnswer({{answer.id}})"
                        ></span>
                    </div>
                    {% elif not question.has_correct_answer and user.id == question.author.id %}
                    <div class="row">
                        <span
                                class="starred-candidate-icon oi oi-star mx-auto"
                                style="margin-top: 10px"
                                onclick="starAnswer({{answer.id}})"
                        ></span>
                    </div>
                    {% endif %}

                </div>
        </div>

        <div class="col-sm">
            {{answer.body}}
        </div>
    </div>
    <div class="row question-bottom">
        <div class="col-sm"> </div>
        <div>
            {% if answer.author.avatar %}
                <img src="{% url 'avatar' answer.author.id %}" width="40px" height="40px" alt="Profile img"/>
            {% else %}
                <img src="/static/img/account.png" width="40px" height="40px" alt="Profile img"/>
            {% endif%}
        </div>
        <div class="align-self-start" style="display: table" > {{answer.author.login}}</div>
        <div class="col-sm" style="max-width: 60px"> </div>
    </div>
    <div class="row answer-divider"></div>
</div>
{% endfor %}


{% if answers.paginator.num_pages > 1 %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm"></div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">

              {% if answers.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="{% url 'question' question.id %}?page=1" aria-label="First">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">First</span>
                  </a>
              </li>
              <li class="page-item"><a class="page-link" href="{% url 'question' question.id %}?page={{ answers.previous_page_number }}">{{ answers.previous_page_number }}</a></li>
              {% endif %}

              <li class="page-item active">
                    <a class="page-link" href="#">{{answers.number}}<span class="sr-only">{{answers.number}}</span></a>
              </li>

              {% if answers.has_next %}
              <li class="page-item"><a class="page-link" href="{% url 'question' question.id %}?page={{ answers.next_page_number }}">{{ answers.next_page_number }}</a></li>
              <li class="page-item">
                  <a class="page-link" href="{% url 'question' question.id %}?page={{answers.paginator.num_pages}}" aria-label="Last">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Last</span>
                  </a>
              </li>
              {% endif %}
          </ul>
        </nav>
        <div class="col-sm"></div>
    </div>
</div>
{% endif %}


{% if user.is_authenticated%}
<div>
    <form action="{% url 'question' question.id %}" method="post">
        {% csrf_token %}
        {% for field in main_form %}
        <div class="form-group">
            {% for errmsg in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ errmsg }}
                </div>
            {% endfor %}
            {{ field }}
        </div>
        {% endfor %}

      <button type="submit" class="btn btn-primary">Answer</button>
    </form>
</div>
{% endif%}

{% endblock %}