<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Hasker {% endblock %}</title>

    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>

<div class="flex-column">

    <div style="flex: 0 0; height:200px; border: 1px solid gray">
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
    </div>

    <div style="flex: 1 0; border: 1px solid red">
        <div>

        </div>
        <div>

        </div>
    </div>
</div>

</body>
</html>