/* all */
a {
    text-decoration: none !important;
}

a.tag-link {
    color: black;
}


/* base html */


.trend-question-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.trend-rating {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: dodgerblue;
    text-align: center;
    vertical-align: middle;
}

a.trend-link {
    color: black;
}

a.ask-btn {
    min-width: 130px;
}

a.logo {
    color: black;
}

/* base html*/


/* index   */
.index-header {
    color: gray;
}

a.index-header {
    color: lightgray;
}

a.index-header:hover {
    color: gray;
}
/* index */


.question-bottom {
    margin-top: 15px;
    margin-bottom: 15px;
}

.rating-color {
    color: gray;
}

.rated-icon {
    color: black;
}

.non-rated-icon {
    color: gray;
}

.rating-icon {
    color: gray;
}

.rating-icon:hover {
    color: black;
}

.starred-icon {
    color: black;
}

.non-starred-icon {
    color:lightgray;
}

.starred-candidate-icon {
    color: lightgray;
}

.starred-candidate-icon:hover {
    color:black;
}


.tag-block {
    background-color: lightskyblue;
    padding: 3px 10px;
    margin-left: 10px;
    margin-right:10px;
    max-height: 30px;
    max-width: 110px;
}

.tag-block > a {
    color: black;
}

.answer-divider {
    border-bottom: 1px solid gray;
    margin-top: 5px;
    margin-bottom: 40px;
}