{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block page_content %}

    {% if auth_failed %}
        <div class="alert alert-danger" role="alert">
            Неверный логин или пароль!
        </div>
    {% endif %}

    <form action="{% url 'login'%}" method="post">
        {% csrf_token %}
        {% for field in main_form %}
        <div class="form-group">
            {% for errmsg in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ errmsg }}
                </div>
            {% endfor %}
            {{ field }}
        </div>
    {% endfor %}

      <button type="submit" class="btn btn-primary">Login</button>
    </form>

{% endblock %}